<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>MOON</title>
	<link rel="stylesheet" th:href="@{/moon/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
</head>
<body class="bg-c">
<div class="container-fluid" id="app">
	<div class="row">
		<div class="col text-center bg-success text-white shadow">全文检索</div>
	</div>
	<div class="form-inline mt-3">
		<input type="text" class="form-control form-control-sm" id="word" />
		<button class="btn btn-sm btn-outline-success" @click="showdata();">搜索</button>
	</div>
	<div class="mt-2">
		<div v-for="p in poetrydata">
			<div class="card border-light">
				<div class="card-header font-weight-bold">{{p.title}}</div>
				<div class="card-body">{{p.author}}</div>
				<div class="card-body">{{p.content}}</div>
			</div>
		</div>
	</div>
	<!--分页条-->
	<div id="pager" class="pagination pagination-sm" ></div>
</div>
<!-- js -->
<script th:src="@{/moon/js/jquery.js}"></script>
<script th:src="@{/moon/js/vue.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script th:src="@{/page/jqpaginator.js}"></script>
<script th:inline="javascript">

	var currpage=1;
	//app
	var app = new Vue({
		el : "#app",
		data : {
			poetrydata : []
		},
		methods : {
			showdata : function() {
				$.post("/redis/search", {
					content : $("#word").val(),
					page : currpage,
					pageSize : "5"
				}, function(data) {
					app.poetrydata = data.rows;
					var pagecount=data.total/(data.pageSize)
					$('#pager').jqPaginator('option',{
						totalPages: pagecount+1
					})
				});
			}


		}
	});

	$('#pager').jqPaginator({
		totalPages: 100,
		currentPage:1,
		/*每次点击页数都会触发这个方法*/
		onPageChange:function (num,type) {
			currpage=num;
			app.showdata();
		}
	})
</script>
</body>
</html>